body {
  background-color: #2c1b1f;
  margin: 0 auto;
}
#navbar {
  background-color: #472955;
  height: 60px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.boxes {
  background-color: #85df7f;
  height: 160px;
  width: 30%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px;
}
.first {
  float: left;
}
.second {
  float: right;
}
.boxes h1 {
  margin-top: 0px;
}
.box {
  background-color: #cad0e2;
  height: 220px;
  width: 97%;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.empty {
  background-color: #a42e3a;
  height: 328px;
  width: 97%;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}
.empty1 {
  background-color: darkkhaki;
  height: 280px;
  width: 96.7%;
  border: 4px solid #31a524;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.padd {
  padding: 10px;
  background-color: #d3d3d3;
}
.m-r {
  margin-right: 30px;
}
.m-l {
  margin-left: 30px;
}
div {
  padding: 10px;
}
.left {
  float: left;
  display: flex;
}
.right {
  float: right;
  display: flex;
  align-self: center;
}
.left img {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.left h2 {
  display: inline;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right a {
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
}
