body {
  background-color: #2c1b1f;
  margin: 0 auto;
}
#navbar {
  background-color: #472955;
  height: 60px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
#main-container {
  background-color: #c9cee0;
  height: 200px;
  margin-bottom: 15px;
}
.boxes {
  background-color: #c9cee0;
  height: 200px;
  width: calc((100% / 3) - 30px);
  float: left;
  margin-bottom: 15px;
}
.m-r {
  margin-right: 15px;
}
div {
  padding: 10px;
}
#main-container h1 {
  text-decoration: underline;
  margin-top: 0px;
}
.boxes h1 {
  margin-top: 0px;
}
.left {
  float: left;
  display: flex;
}
.right {
  float: right;
  display: flex;
  align-self: center;
}
.left img {
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.left h2 {
  display: inline;
  color: #fff;
  display: flex;
  align-items: center;
}
.right a {
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
}
.right a:hover {
  background-color: #fff;
  color: orange;
  padding: 20px;
}
.right a:active {
  background-color: yellow;
  color: red;
  padding: 20px;
}
